.main {
  position: absolute;
  width: 693px;
  height: 374px;
  left: 373px;
  top: 354px;
}

.tittleques {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-family: "McLaren";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.answerques {
  position: absolute;
  width: 207px;
  height: 57px;
  left: 80px;
  top: 261px;

  font-family: "McLaren";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0f0d79;

  opacity: 0.55;
}

.answerques2 {
  position: absolute;
  width: 207px;
  height: 57px;
  left: 396px;
  top: 261px;

  font-family: "McLaren";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0f0d79;

  opacity: 0.55;
}
